<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Movie</title>
    <link rel="stylesheet" href="movieForm.css">
</head>

<body>
    <h1>Create a New Movie</h1>

    <form id="movie-form">
        <label for="name">Movie Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required><br><br>

        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" name="duration" required><br><br>

        <label for="ageRequirement">Age requirememt:</label>
        <input type="number" id="ageRequirement" name="ageRequirement" required><br><br>

        <button type="submit">Create Movie</button>
    </form>

    <script>
        document.getElementById('movie-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const movie = {
                name: document.getElementById('name').value,
                genre: document.getElementById('genre').value,
                duration: document.getElementById('duration').value,
                ageRequirement: document.getElementById('ageRequirement').value
            };

            fetch('/api/cinema/movies', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(movie)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Movie created:', data);
                    window.location.href = '/homepage';
                })
                .catch(error => console.error('Error creating movie:', error));
        });
    </script>

</body>

</html>